.nav-item {
  font-size: 14px;
  color: #b8b6b4;
  font-family: "Motiva Sans", sans-serif;
  font-weight: normal;
}

.nav-item:hover {
  color: #FFFFFF;
}

.navbar-header {
  margin-left: 458px;
}

#title {
  font-size: 26px;
  color: #FFFFFF !important;
  font-family: "Motiva Sans", sans-serif;
  font-weight: nromal;
  text-align: left;

  margin-top: 20px;
  margin-left: 458px;
  margin-bottom: 5px;
}

#subtitle {
  font-weight: normal;
  font-size: 17px;
  color: #9099a1;
  font-family: Arial, Sans-Serif;
  text-align: left;
  padding-top: 5px;
  margin-left: 458px;
}

.jumbotron {
  margin-top: 15px;
  width: 940px;
  padding: 10px !important;
}

.question {
  font-size: 23px;
  color: #FFFFFF !important;
  font-family: "Motiva Sans", sans-serif;
  font-weight: nromal;
  text-align: left;
}

#error {
  color: red;
}

.checked {
  color: orange;
}

.fa:hover {
  color: #906515;
}

.continue {
  border-radius: 2px;
  border: none;
  padding: 1px !important;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: #D2E885;
  background: linear-gradient( to bottom, #a4d007 5%, #536904 95%);
  font-size: 12px;
  line-height: 17px;
  text-align: left;
  font-family: "Motiva Sans", Sans-serif;
  font-weight: normal;
}


#continue:hover {
  background-color: #b6d908 !important;
}

.fa {
  cursor: pointer;
  font-size: 25px !important;
}

.starA {
  text-decoration: none !important;
  color: #212529 !important;
}

.rLabel {
  font-weight: normal;
  font-size: 17px;
  color: #9099a1;
  font-family: Arial, Sans-Serif;
  text-align: left;
}
